/* Mobile Responsive */
@media screen and (max-width:600px){
    html{
        font-size: 13px;
    }
    nav{
        padding: 20px;
    }
    nav>ul{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

}